<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profile.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}" />
    <title>UNet</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="right-side">
          <div class="brand-info">
            <a href="{{ url_for('home') }}">
              <span id="brand-name">UNet</span>
            </a>
          </div>
          <div class="search-form-explore">
            {{ search.hidden_tag() }} {{ search.search.label }}{{
            search.search(placeholder="Search", id="search-form-explore") }}
          </div>
        </div>
        <div class="left-side">
          <div class="nav-links">
            <a href="#" class="links">Explore</a>
            <a href="#" class="links">Profile</a>
            <a href="#" class="links">Messages</a>
            <a href="#" class="links">Settings</a>
          </div>
          <div class="profile-info">
            <img
              src="{{ url_for('static', filename='default.svg') }}"
              alt="profile-img"
            />
          </div>
        </div>
      </nav>
    </header>
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
  </body>
</html>
